<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>
    <br>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/index.html">My Research Work</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      <br>

      {% if site.author.orcid %}
        <li style="list-style: none;"><a href="{{ site.author.orcid }}" target="_blank"><i class="ai ai-orcid-square ai-fw"></i> ORCID</a></li>
      {% endif %}

	    {% if site.author.googlescholar %}
        <li style="list-style: none;"><a href="{{ site.author.googlescholar }}" target="_blank" ><i class="ai ai-google-scholar-square ai-fw "></i> Google Scholar</a></li>
      {% endif %}

	    {% if site.author.researchgate %}
        <li style="list-style: none;"><a href="{{ site.author.researchgate }}" target="_blank"><i class="ai ai-researchgate-square ai-fw" aria-hidden="true"></i> ResearchGate</a></li>
      {% endif %}

      {% if site.author.publons %}
        <li style="list-style: none;" ><a href="{{ site.author.publons }}" target="_blank"><i class="ai ai-publons ai-fw" aria-hidden="true"></i> Publons</a></li>
      {% endif %}

	     {% if site.author.github %}
        <li style="list-style: none;"><a href="https://github.com/{{ site.author.github }}" target="_blank"><i class="fab fa-fw fa-github" aria-hidden="true"></i> Github</a></li>
      {% endif %}

      <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a> -->
      <!--<a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub</a> -->
      <!--      <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
